.footer {
  padding: 29px 18px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 36px 60px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px;
  }
}

.footer__link {
  font-family: inherit;
  text-decoration: none;
  color: $color-text-basic;
  transition: all 0.15s ease-in;

  &--twitter {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;

    @media (max-width: $mobile-width) {
      margin-bottom: 34px;
    }
  }

  &--copyright {
    font-size: 14px;
    line-height: 21px;
    display: flex;
    gap: 10px;
  }

  &--main {
    @media (min-width: $tablet-width) {
      margin: 0 17px 0 -21px;
    }
  }

  &:hover {
    color: $color-basic;
  }

  &:focus-visible {
    outline: 2px solid $color-basic;
  }

  &:active {
    color: $color-text-active;
  }
}
