.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 60px 64px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 120px 64px;
  }
}

.form__button {
  padding: 18px 20px 14px;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 324px;
  }

  @media (min-width: $desktop-width) {
    max-width: 384px;
    margin-left: 96px;
  }
}

.form__note {
  align-self: flex-end;
  font-weight: 400;
  display: block;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: $color-text-placeholder;
  margin-top: 1px;

  @media (min-width: $tablet-width) {
    align-self: center;
    margin: 0;
    margin-left: auto;
    font-size: 14px;
    color: $color-text-description;
  }

  @media (min-width: $desktop-width) {
    margin-right: 96px;
  }
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 47px;
    gap: 88px;

    @media (min-width: $desktop-width) {
      grid-template-columns: 430px 1fr;
      gap: 128px;
      margin-bottom: 56px;
    }
  }
}
