.hero {
  background-color: $color-bg-img;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  position: relative;

  &--main {
    background-image: url("../img/welcome-bg-mobile@1x.jpg");
    padding: 90px 0 85px 0;
    margin-bottom: 32px;
    background-position: center;
    min-height: 389px;
    background-size: 901px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-bg-mobile@2x.jpg");
    }
  }

  &--inner {
    padding: 52px 0 67px 0;
    min-height: 158px;
    background-image: url("../img/welcome-bg-mobile-inner@1x.jpg");
    background-size: 902px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-bg-mobile-inner@2x.jpg");
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/hero-divider.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 57px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    &--main {
      padding: 78px 0 90px 0;
      margin-bottom: 47px;
      background-image: url("../img/welcome-bg-desktop@1x.jpg");
      background-size: 1200px auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/welcome-bg-desktop@2x.jpg");
      }
    }

    &--inner {
      padding: 95px 0 117px 0;
      background-image: url("../img/welcome-bg-inner-desktop@1x.jpg");
      background-size: 1200px auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/welcome-bg-inner-desktop@2x.jpg");
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--inner {
      padding: 100px 0 120px 0;
    }

    &--main {
      margin-bottom: 58px;
    }
  }
}

.hero__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 350px;
  }
}

.hero--inner .hero__image {
  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
    height: 80px;
  }
}
