.map {
  background-image: url("../../img/map-bg@1x.jpg");
  max-height: 350px;
  width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/map-bg@2x.jpg");
  }
}

.map__iframe {
  width: 100%;
  max-height: 350px;
  display: block;
  border: 0;
  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
  }
}
