@media (max-width: $mobile-width) {
  .user-menu__item:last-child {
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 7px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
      position: absolute;
      bottom: 0;
    }
  }
}

.user-menu__link {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  display: block;
  font-weight: 700;

  @media (max-width: $mobile-width) {
    font-size: 18px;
    line-height: 26px;
    color: $color-text-secondary;
    background-color: $color-basic;
    padding: 17px 0 12px;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2),
      inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  @media (min-width: $tablet-width) {
    color: $color-text-basic;
    padding: 18px 10px 17px;
    font-size: 14px;
    line-height: 21px;
  }
}
