$color-basic: #81b3d2;
$color-bg-page: #e7e5e5;
$color-bg-basic: #ffffff;
$color-bg-img: #b7b4b4;
$color-bg-secondary: #eeeeee;
$color-bg-sublist: #ffffff;
$color-bg-modal-container: rgba(0, 0, 0, 0.3);
$color-bg-modal-button-wrapper: #f2f2f2;
$color-text-basic: #000000;
$color-text-menu-current: #766357;
$color-text-menu-hover: #81b3d2;
$color-text-menu-active: rgba(0, 0, 0, 0.3);
$color-bg-mobile-menu-hover:  #669ec0;
$color-text-mobile-menu-active: rgba(255, 255, 255, 0.3);
$color-text-active: #b3b3b3;
$color-text-secondary: #ffffff;
$color-text-placeholder: rgba(0, 0, 0, 0.3);
$color-text-note: rgba(51, 51, 51, 0.6);
$color-text-description: #333333;
$color-text-sublist: #000000;
$color-btn-text: #ffffff;
$color-btn-bg: #81b3d2;
$color-btn-hover: #669ec0;
$color-btn-focus: #669ec0;
$color-btn-disabled: #e5e5e5;
$color-btn-primary-active: #5496bd;
$color-btn-secondary-active: rgba(255, 255, 255, 0.3);
$color-divider: #d6d6d6;
$color-input: #f2f2f2;
$color-input-icon-bg: #e6e6e6;
$color-input-hover: #e5e5e5;
$color-control-active: #d5d5d5;
