$color-bg-page: #e7e5e5;
$color-text-basic: #000000;
$color-text-basic-current: #766357;
$color-text-secondary: #ffffff;
$color-bg-basic: #ffffff;
$color-bg-img: #b7b4b4;
$color-basic: #81b3d2;
$color-btn-text: #ffffff;
$color-btn-bg: #81b3d2;
$color-text-description: #333333;
$color-bg-secondary: #eeeeee;
$color-divider: #d6d6d6;
$color-bg-sublist: #ffffff;
$color-text-sublist: #000000;
$color-input: #f2f2f2;
$color-input-icon-bg: #e6e6e6;
$color-text-placeholder: rgba(0, 0, 0, 0.3);
