// Начните писать стили здесь
@import "./normalize.scss";
@import "fonts.scss";
@import "base.scss";
@import "var/colors.scss";
@import "var/viewports.scss";
@import "./blocks/page.scss";
@import "./blocks/main.scss";
@import "./blocks/main-header.scss";
@import "./blocks/nav.scss";
@import "./blocks/logo.scss";
@import "./blocks/user-menu.scss";
@import "./blocks/hero.scss";
@import "./blocks/section.scss";
@import "./blocks/button.scss";
@import "./blocks/social-list.scss";
@import "./blocks/footer.scss";
@import "./blocks/advantages.scss";
@import "./blocks/card.scss";
@import "./blocks/sublist.scss";
@import "./blocks/search.scss";
@import "./blocks/map.scss";
@import "./blocks/gallery.scss";
@import "./blocks/photo.scss";
@import "./blocks/photo-card.scss";
@import "./blocks/info.scss";
@import "./blocks/like.scss";
@import "./blocks/video-presentation.scss";
@import "./blocks/feedback.scss";
@import "./blocks/form.scss";
@import "./blocks/field.scss";
@import "./blocks/fieldset.scss";
@import "./blocks/modal.scss";
